<div class="question">
<ul>
  <li class="your_question"><%= @question %></li>
  <li class="reference">- You</li>
</ul>
</div>
<div class="answer">
<ul>
  <li class="your_answer"><%= @answer %></li>
  <li class="reference">- Your coach</li>
</ul>
</div>
<p> <%= link_to "Ask a new question", ask_path %></p>